#  creo que esto que está comentado no es necesario
#<IfModule mod_headers.c>
#	Header always set Content-Security-Policy "frame-ancestors 'self'"
#</IfModule>


#Header add Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; form-action 'self'; frame-ancestors 'self';"

#Header add Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; form-action 'self';"

#Cabecera X-Content-Type
<IfModule mod_headers.c>
	Header always set X-Content-Type-Options "nosniff"
</IfModule>
