p
{
  line-height: 20px;
}


a
{
  text-decoration: none;
}


div
{
  margin-left: 20px; 
  margin-right: 20px; 
  margin-top: 20px;
}


.avion
{
  display: inline-block; 
  /* padding: 5px; */
  margin-left: 20px; 
  margin-right: 20px; 
  margin-right: 20px; 
  
  background-color:rgb(223, 234, 246);
  border: solid rgb(193, 196, 219);
}

.lista
{
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
}


 .caja:hover
 {
  animation-direction: alternate;
  display: inline-block;
  animation-name: caja;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
 }
  @keyframes caja
  {
    0%
    {
      transform: translate(0px, 0px);
    }
    100%
    {
      transform: translate(4px, -4px); 
    }
 }



#main-header 
{
  width:100%;
  height:10%;
  position:absolute;
  border: 10%;
  top:0;
  left:0;
  background-color:rgb(126, 126, 188);
}    

.news-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*gap: 25px;
  margin: 10px 0;*/
  padding-bottom: 0px;
}

.titulo{
  text-align: center;
  margin: 0px
}

.registrar{
  text-align: right;

}

.registrar:hover
{
color: rgb(20, 28, 149);
}
