body {
    height: 100%;
    background-color: rgb(183, 195, 231);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.avion {
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(223, 234, 246);
    border: 1px solid rgb(193, 196, 219);
    transition: transform 0.2s ease;
    border-radius: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    margin: 10rem 2rem 1rem;
    border-radius: 10px;
}

.caja:hover {
    transform: translate(0.5rem, -0.5rem);
}

/*Cabecera pincipal */
#main-header {
    background-color: rgb(126, 126, 188);
    padding: 1rem 0;
    overflow: auto;
    text-align: center;
    position:sticky;
    width: 100%;
    top: 0;
    left: 0;
}

/*Elementos de la barra de navegacion */
.navbar{
    padding: 2rem 2rem 1rem;
    overflow: auto;
    list-style-type: none;
    float: right;
    margin-top: -2rem;
}.elem {
    display: inline;
    padding: 1rem;
    text-align: center;
    margin-left: 1rem;
    border-radius: 25px;
}.elem:hover{
    background-color: rgb(105, 105, 188);
}
.link{
    padding: 0.5rem;
}

.titulo {
    text-align: center;
    margin: 0;
}
/*LOGOS*/
/*Logo arriba izquierda */
.logo {
    float: left;
    margin-left: 3rem;
    margin-top: -4rem;
}
.logo img {
    max-width: 6rem;
    max-height: 6rem;
}
/*Logo Github*/
.logogithub{
    width: 2rem;
    height: 2rem;
    float: left;
    margin-left: 0;
}/*Logo formulario*/
.logoregistro{
    width: 4rem;
    height: 4rem;
    float: left;
    padding: 0.5rem;
    margin-top: -1.5rem;
}.logoinicio{
    width: 4rem;
    height: 4rem;
    float: left;
    margin-top: -0.6rem;
}


.formulario-container {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    padding: 10rem;
}
.formulario {
    text-align: center;
    padding: 2rem 3rem 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.campo {
    margin: 1rem 0;
    text-align: left;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3rem;
    border: 1px solid #949292;
    padding: 0.7rem 0.8rem;
    &:focus{
        outline:none;
    }
    opacity: 0.6;
    transition: 0.3s;
}

.index {
    text-align: right;
    margin-right: 20px;
    margin-top: -20px;
}

.index a:hover {
    color: rgb(20, 28, 149);
}
/*Pie de página*/
.footer {
    text-align: right;
    width: 100%;
}
