#main-header {
    background-color: rgb(126, 126, 188);
    padding: 10px;
    overflow: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.titulo {
    text-align: center;
    margin: 0;
}

.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.campo {
    margin: 10px 0;
    text-align: left;
}

.logo {
    float: left; 
    margin-left: 20px;
    margin-top: 10px; 
}

.logo img {
    max-height: 90px;
}

.index {
    text-align: right;
    margin-right: 20px;
}

.registrar a:hover {
    color: rgb(20, 28, 149);
}
