body {
    background-color: rgb(183, 195, 231);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.avion {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: rgb(223, 234, 246);
    border: 1px solid rgb(193, 196, 219);
    transition: transform 0.2s ease;
    border-radius: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    margin: 120px 20px 20px;
    border-radius: 10px;
}

.caja:hover {
    transform: translate(4px, -4px);
}

#main-header {
    background-color: rgb(126, 126, 188);
    padding: 10px 0;
    overflow: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.titulo {
    text-align: center;
    margin: 0;
}

.registrar {
    text-align: right;
    margin-right: 20px;
}

.registrar a:hover {
    color: rgb(20, 28, 149);
}

.logo {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.logo img {
    max-height: 90px;
}

.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.campo {
    margin: 10px 0;
    text-align: left;
}

.index {
    text-align: right;
    margin-right: 20px;
}

.index a:hover {
    color: rgb(20, 28, 149);
}